<a href="https://colab.research.google.com/github/puni2426/python/blob/main/Practice_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sum of all n number

In [ ]:
n=int(input("enter a no:"))
sum = 0
L=[]
for i in range(0,n+1):
  if i%2==0:
    sum=sum+i
    L.append(sum)
print(sum)

enter a no:10
30

Prime number in a given range

In [ ]:
for num in range(1,26):
  if num>1:
    for i in range(2,num):
      if num%i==0:
        break
    else:
      print(num,end=" ")

2 3 5 7 11 13 17 19 23

sum of all even no and product of all odd no

In [ ]:
n=int(input("enter n"))
l1=[]
l2=[]
sum=0
product=1
for i in range (0,n+1):
  if i%2==0:
    sum=sum+i
    l1.append(sum)
  else:
    product=product*i
    l2.append(product)
print (l1)
print (l2)

enter n10
[0, 2, 6, 12, 20, 30]
[1, 3, 15, 105, 945]

Biggest of three no input using a keyboard

In [ ]:
l=[]
n=int(input ("enter n"))
for i in range (0,n):
  value=int(input("enter values  "))
  l.append(value)
print(l)
big=0
for i in l:
  if i>big:
    big=i
print(big)

enter n3
enter values  1
enter values  5
enter values  4
[1, 5, 4]
5

Palindrome

In [ ]:
n=int(input("enter number"))
rev=0
temp=n
while n>0:
  rem=n%10
  n=n//10
  rev=rev*10+rem
if temp==rev:
  print(temp,"is a palindrome")
else:
  print(temp,"is not a palindrome")

enter number1221
1221 is a palindrome

Palindrome for a string

In [ ]:
 str=input("enter string ")
if str==str[::-1]:
  print(str,"is a palindrome")
else:
  print(str,"is not a palindrome")

enter string appa
appa is a palindrome

In [ ]:
n=int(input("enter n"))
sum=0
product=1
for i in range (0,n+1):
  if i%2==0:
    sum=sum+i
    
  else:
    product=product*i
    
print ("sum of even no is = " ,sum)
print ("product of odd no is =",product)

enter n10
sum of even no is =  30
product of odd no is = 945

In [ ]:
a=float(input("enter a"))
b=float(input("enter b"))
if a>b:  
  big = a
else:  
  big = b
print(big)

enter a2
enter b5
5.0

In [ ]:
import datetime
print(datetime.datetime.now())

2020-11-27 18:25:36.239093

In [ ]:
import calendar
print(calendar.month(2020,2))

   February 2020
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29

In [ ]:
import random
sn=random.randint(1,20)
print(sn)
for i in range (1,7):
  n=int(input ())
  if n>sn:
    print("high")
  elif n<sn:
    print("low")
  else:
    break
if n==sn:
  print("correct")
else:
  print("not correct")

19
2
low
12
low
19
correct

In [ ]:
L=[]
l=[]
for i in range (0,11):
  if i%2==0:
    L.append(i)
  else:
    l.append(i)
print(sum(L))
print(numpy.prod(l))

30
945

In [ ]:
L=[1,5,3]
#S=sum(L)
#print(any()

[1, 5, 3]

In [ ]:
sum=lambda a,b:a+b
print(sum(11,20))

31

In [ ]:
mul=lambda a,b:a*b
sum=lambda a,b,c:a+mul(b,c)
print(sum(11,20,2))

51