<a href="https://colab.research.google.com/github/puni2426/python/blob/main/sample2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Reverse

In [ ]:
str=input()
s=str[::-1]
print(s)

Hello
olleH

Expcepion handling

In [ ]:
x=10
y=0
try:
  print(x/y)
except ZeroDivisionError :
  print("Error...! Division by zero error")

Error...! Division by zero error

In [ ]:
 
try:
  raise NameError('HiHello')
except NameError:
  print("Error....! Please enter proper input")

Error....! Please enter proper input

In [ ]:
try:
  raise ValueError(13556)
except ValueError:
  print ("Error....! value error")

Error....! value error

In [ ]:
 
print(math.pow(4,5))

1024.0

In [ ]:
print (math.sqrt(5))

2.23606797749979

In [ ]:
 print (math.cos(0))

1.0

In [ ]:
num=int(input ())
for n in range (0,num):
  if n>1:
    for i in range (2,n):
      if n%i==0:
        break
    else:
      print (n,end=" ")

10
2 3 5 7

In [ ]:
import random
num=random.randint(0,200)
print("The random number is:",num)
for n in range (0,num):
  if n>1:
    for i in range (2,n):
      if n%i==0:
        break
    else:
      print (n,end=" ")

The random number is: 176
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173

In [ ]:
 
r=4
for i in range (1,r):
  for j in range (1,i+1):
    print(i,end=" ")
  print (" ")

1
2 2
3 3 3

In [ ]:
 
r=4
for i in range (1,r):
  for j in range (1,i+1):
    print(j,end=" ")
  print (" ")

1
1 2
1 2 3

In [ ]:
import datetime
print (datetime.datetime.now())

2021-02-28 09:44:04.435643

In [ ]:
import calendar
yy=2021
mm=2
print(calendar.month(yy,mm))

   February 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28

In [ ]:
 import calendar
yy=2021
 
print(calendar.calendar(yy))

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [ ]:
 
stuff = {'rope': 1, 'torch': 6, 'gold coin': 42, 'dagger': 1, 'arrow': 12}
def displayInventory(inventory): 
  print("Inventory:")
  item_total = 0
  for k, v in sorted (inventory.items()):
    item_total = item_total + v
    print(str(stuff.get(k)) + '\t' + k)
  print("Total number of items: " + str(item_total))
displayInventory(stuff)

Inventory:
12	arrow
1	dagger
42	gold coin
1	rope
6	torch
Total number of items: 62

In [ ]:
 
import datetime
def get_user_birthday():
  year = int(input('When is your birthday? [YY] '))
  month = int(input('When is your birthday? [MM] '))
  day = int(input('When is your birthday? [DD] '))
  birthday = datetime.datetime(year,month,day)
  return birthday
def calculate_dates(original_date, now):
   date1 = now
   date2 = datetime.datetime(now.year, original_date.month, original_date.day)
   delta = date2 - date1
   days = delta.total_seconds() / 60 /60 /24
   return days
def show_info(self):
  pass
bd = get_user_birthday()
now = datetime.datetime.now()
c = calculate_dates(bd,now)
print(c)

When is your birthday? [YY] 2000
When is your birthday? [MM] 02
When is your birthday? [DD] 28
-0.6221399971875

In [11]:
 
class A: 
  def __init__(self, a): 
    self.a = a 
  
  def __add__(self, o): 
    return self.a + o.a
  def __sub__(self, o):
    return self.a - o.a
  def __mul__(self, o):
    return self.a * o.a
 
ob1 = A(1) 
ob2 = A(2) 
ob3 = A("Python") 
ob4 = A("Applications") 
 
print(ob1 + ob2) 
print(ob1 - ob2) 
print(ob1 * ob2)
print(ob3 + ob4)

3
-1
2
PythonApplications